<!DOCTYPE html>
<html>
<head>
  <title>Rails App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header">
  <p>Rails App</p>
</div>
<div id="nav">
  <ul id="navList">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'About', about_path %></li>
    <li><%= link_to 'Cats', cat_pictures_path %></li>
    <li><%= link_to 'Electronics Stores Listing', electronics_stores_path %></li>
  </ul>
</div>

<%= yield %>

</body>
</html>
